argon2-cffi
fastapi[all]
uvicorn
sqlalchemy
pydantic
pydantic-settings
alembic
passlib[argon2]
python-jose[cryptography] 
fastapi-users
openpyxl
pandas
psycopg2-binary
python-dotenv
httpx
requests
reportlab
structlog
